NET "CLK_50M_I" LOC = A8;
NET "CLK_50M_I" IOSTANDARD = LVTTL;
NET "LEDS_O[0]" LOC = Y5;
NET "LEDS_O[0]" IOSTANDARD = LVTTL;
NET "LEDS_O[1]" LOC = Y4;
NET "LEDS_O[1]" IOSTANDARD = LVTTL;
NET "SERIAL_I" LOC = E19;
NET "SERIAL_I" IOSTANDARD = LVTTL;
NET "SERIAL_O" LOC = E20;
NET "SERIAL_O" IOSTANDARD = LVTTL;
