NET "CLK_50M_I" LOC = P124;
NET "CLK_50M_I" IOSTANDARD = LVTTL;
NET "LEDS_O[0]" LOC = P10;
NET "LEDS_O[0]" IOSTANDARD = LVTTL;
NET "LEDS_O[1]" LOC = P12;
NET "LEDS_O[1]" IOSTANDARD = LVTTL;
NET "LEDS_O[2]" LOC = P13;
NET "LEDS_O[2]" IOSTANDARD = LVTTL;
NET "SPI_MISO_O" LOC = P16;
NET "SPI_MISO_O" IOSTANDARD = LVTTL;
NET "SPI_MOSI_I" LOC = P15;
NET "SPI_MOSI_I" IOSTANDARD = LVTTL;
NET "SPI_CLK_I" LOC = P18;
NET "SPI_CLK_I" IOSTANDARD = LVTTL;
NET "SPI_EN_I" LOC = P19;
NET "SPI_EN_I" IOSTANDARD = LVTTL;
